<!DOCTYPE html>
<html ng-app="leavesNext">

<head>
    <title>Leaves.Lite Reader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.ico" class="js-favicon">
    
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-tab-scroll/angular-ui-tab-scroll.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/chrome-tabs.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <!-- <base href="/"> -->
</head>

<body ng-controller="mainController" id="body">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD9CDQS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="main-container">
        <header class="leaves-header">
            <leaves-nav></leaves-nav>
        </header>
        <nav ng-class="sidenavBarOpen ? 'responsive-side-navbar mobile-side-navbar-active' : 'responsive-side-navbar mobile-side-navbar'">
        <div class="mobile-nav-dummy" ng-click="closeDrawer()"></div>

            <div class="responsive-xs-down">
                <div class="drawer-docker">
                    <div class="drawer-box">

                        <div class="tag-search-input">
                            <input type="text" ng-model="tag_name" placeholder="Search by tag">
                        </div>
                        <ul class="tags-list">
                            <li ng-repeat="tag in tags | filter:tag_name" ng-class="{'active-tag': tag.active}" ng-click="multipleTagSelect(tagsString, tag.slug)">{{tag.label}}</li>
                        </ul>    

                    </div>      
                </div>      
            </div>  
        </nav>
        <div class="reader-content">
            <ui-view></ui-view> 
        </div>
    </div>
    <div id="contentInIframe" class="second-layer">
        <center><button class="minimizeButton" type="submit" onclick="closeIframe()" title="minimize"><i class="fa fa-close"></i></button></center>
        <div id="originalContent"></div>
    </div>

<script type="text/javascript" src="./env.js"></script>
<script type="text/javascript" src="js/vendor.bundle.js"></script>
<script type="text/javascript" src="js/app.bundle.js"></script>
</body>
<script>
    $(function() {
        $('#myTab a:last').tab('show')
    })

    function closeIframe() {
        document.getElementById("contentInIframe").style.height = "0%";
        document.body.style.overflow = 'scroll';
        document.getElementById("originalContent").innerHTML = ''
    }
    function outerClickHide() {
        document.getElementById('shareModal').style.display = "none";
    }    

    function copyThisShortLink() {
        var copyText = document.getElementById("bitlyLink");
        copyText.select();
        document.execCommand("Copy");
        document.getElementById("showCopiedMsg").innerHTML = 'copied'
        setTimeout(function() {
            $('#showCopiedMsg').fadeOut('fast');
        }, 1000);
    }

</script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBeK_YwXpRuv0qEXbmN8J7umHPbOZyi_J0",
    authDomain: "anant-leaves-next.firebaseapp.com",
    databaseURL: "https://anant-leaves-next.firebaseio.com",
    projectId: "anant-leaves-next",
    storageBucket: "anant-leaves-next.appspot.com",
    messagingSenderId: "397443834338"
    };
  firebase.initializeApp(config);
</script>

</html>
