/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-y: hidden;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.btn, .alert {
    font-size: 0.9rem;
}

.main-body {
    padding-top: 10px;
    height: calc(100vh - 90px);
}

.navbar {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.saved-links {
    position: absolute;
    margin-top: 2px;
    height: calc(100vh - 62px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.links-section {
    width: 400px;
    z-index: 1;
    float: right;
    margin-top: 60px;
    text-overflow: hidden;
    background-color: #fff;
    height: calc(100vh - 62px);
    box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.links-section .mb-1 {
    font-size: 16px;
}

.links-section .title {
    padding: 10px 20px;
    color: rgba(0,0,0,.5);
    font-size: 18px;
}

.links-section .badge {
    cursor: pointer;
}

.close-saved-links {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 15px;
    font-weight: 700;
    color: #495057;
    background-color: #eee;
    border-radius: 50%;
    padding: 2px 8px;
    cursor: pointer;
}

.social-btn > .social-share-btn {
        box-sizing: border-box;
    float: left;
    clear: right;
    padding: 10px 10px 10px 0px;
}

.social-btn > .social-share-btn button{ 
    background-color: #dee2e6 !important;
    font-size: 15px !important;
}

.input-group-append span{
    font-size: 13px !important;
    cursor: pointer;
}

.search-query-input {
    min-width: 300px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.navbar-search-icon {
    display: none;
}

.profile-list img {
    width: 25px;
    border-radius: 50%;
}

.hamburgur:focus,
.hamburgur.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.add-leaf-form input {
    font-size: 13px !important;
    margin-bottom: 10px;
}

.preview_summary {
    height: 50px;
    overflow: hidden;
    font-size: 12px;
}

.preview_summary_meta h2{
    height: 3rem;
    margin-bottom: 0 !important;
}

.select-tags {
    margin-bottom: 10px;
}

.select-tags .tag-name {
    display: inline;
    font-size: 12px;
    border: 1px solid #eee;
    margin-right: 5px;
    padding: 2px 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.select-tags .selected_tag {
    background-color: #6c757d;
    color: #fff;
    border-radius: 3px;
}

.share-modal input {
    font-size: 13px !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar-bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #495057;
    color: #fff;
    transition: all 0.3s;
    overflow-x:hidden;
}


.google-login-btn {
    text-align: center;
}
.google-login-btn img {
    width: 200px;
    padding: 20px 0px;
}

.navbar-nav li a {
    cursor: pointer;
    font-size: 0.9rem;
}

#sidebar.active {
    margin-left: -230px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #495057;
    cursor: pointer;
}

#sidebar ul.components {
    padding-bottom: 20px;
    border-bottom: 1px solid #47748b;
    height: calc(100vh - 200px);
    -webkit-overflow-scrolling: touch;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px;
    box-sizing: content-box;
}

#sidebar ul.components:hover {
    padding-right: 0px;
    transform: scale(1);
    transition: 0.3s all ease;  
}

#sidebar .tag-search-input {
    padding: 5px 10px;
}
#sidebar .tag-search-input input {
    color: #000;
    font-size: 0.8rem;
    border: 0;
    box-shadow: none;
}
#sidebar ul li a {
    padding: 5px 10px;
    font-size: 0.9em;
    display: block;
    cursor: pointer;
}

#sidebar ul li a:hover {
    color: #495057;
    background: #eeeeee;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.dropdown .dropdown-menu .close-tab:hover {
    background-color: #212529;
    color: #fff;
    border-radius: 50%;
}

.dropdown-arrow {
    position: absolute;
    right: 20px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #495057;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.active-tag a:after {
     content: " \2713";
     height: 5px;
     width: 5px;
     color: green;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #495057; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 10px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 230px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

#content.active {
    width: 100%;
}

.reader-content {
height: calc(100vh - 100px);
overflow-y: scroll;
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
}

.search-box {
    position: relative;
}

.search-box .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    right: 25px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
}

.search-box .close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #333;
    z-index:1;
    top: 5px;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.nav-tabs li a{
    cursor: pointer;
}

.social-login-section{
    padding-top: 30px;
}

.social-login-section .col-md-12 {
    padding-bottom: 10px;
    color: #fff;
}

.email-pwd-section {
    padding: 30px 10px 10px 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 230px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .links-section {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .navbar-search-icon {
        display: block;
    }
    .search-query-input {
        position: absolute;
        top:-100px;
    }
    .search-query-input-show {
        position: fixed;   
        top:0;
        width: 100%;    
        left: -10px;
        right: 0;
        height: 68px;
    }
    .search-transparent-bg {
        height: 100vh;
        width: 100%;
        position: fixed;
        top:68px;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 99;
    }
}

@media (max-width: 558px) {
    .reader {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 0 !important;
        height: 100vh;
    }
    .reader-header {
        padding-left: 0px !important
    }
    .reader-content {
        margin-left: 0 !important;
        min-height: calc(100vh - 35px);
    }
    .minimize-toggle-btn {
        display: block !important;
        position: absolute;
        bottom: 10%;
        text-align: center;
        z-index: 9;
        background-color: #495057;
        border-radius: 50%;
        color: #fff;
        padding: 8px 12px;
        box-shadow: 0px 1px 2px #000;
        cursor: pointer;
        left: 50%;
    }
    .minimize-reader {
        display: none;
    }
}