.searchbox {
    margin-bottom: 40px;
}
#searchbox input[type=text] {
    border:solid 1px #BFBDBD;
    margin: 0;
    padding: 7px;
    width: 400px;
}
#searchbox #submit {
    display: none;
}
#searchbox #hints {
    background: white;
    border: 1px solid #ccc;
    margin-right: 22px;
    position: absolute;
    z-index: 1;
    /*
    box-shadow: 0 1px 3px 0 #aaa;
    -webkit-box-shadow: 0 2px 1px 0 #aaa;
    */
}
#searchbox #list {
    list-style: none;
    margin: 0;
    padding: 0;
}
#searchbox #list li {
    cursor: default;
    margin: 0 0 2px 0;
    padding: 5px 10px 5px 10px;
}
#searchbox #list li:hover {
    background: #dedede;
}
#searchbox #list li.selected {
    background: #ddd;
    font-weight: bold;
}
#searchbox #message {
    color: #1a577a;
    font-weight: normal;
    padding: 7px 10px 7px 10px;
}