<!DOCTYPE html>
<html ng-app="leavesNext">

<head>
    <title>Leaves.Lite Reader</title>
    <link rel="icon" href="img/favicon.ico" class="js-favicon">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Anant Corporation Team | anant.us">

    <meta name="title" content="Leaves.Lite Reader | anant.us">
    <meta name="description" content="Leaves.Lite presents a searchable web interface to links and bookmarks curated/organized in JSON or fed by a REST API.">
    <meta name="keywords" content="curated, knowledge, organized, leaves, interface, high, quality content, links, free, open data, respources, data analytics resources, cassandra resources, databse, devops respources, development respources">
    

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://leaves.anant.us">
    <meta property="og:title" content="Leaves.Lite Reader | anant.us">
    <meta property="og:description" content="Leaves.Lite presents a searchable web interface to links and bookmarks curated/organized in JSON or fed by a REST API.">

    <meta property="twitter:url" content="https://leaves.anant.us">
    <meta property="twitter:title" content="Leaves.Lite Reader | anant.us">
    <meta property="twitter:description" content="Leaves.Lite presents a searchable web interface to links and bookmarks curated/organized in JSON or fed by a REST API.">

    <link rel="stylesheet" type="text/css" href="dist/bundle.min.css">
    <!-- <base href="/"> -->
    <%= htmlWebpackPlugin.options.GA %>
</head>
<body ng-controller="mainController" id="body">
<script type="text/javascript">
    <%= htmlWebpackPlugin.options.PTCODE %>
</script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD9CDQS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header logo" ng-click="goToHome()">
                <h3>Leaves<br/>Reader</h3>
            </div>
            <div class="tag-search-input">
                <input type="text" class="form-control" data-intro='Search tag here!' id="querySearchInput" ng-model="tag_name" placeholder="Search by tag">
            </div>
            <ul class="list-unstyled components">
                <li ng-repeat="tag in tags | filter:tag_name" ng-class="{'active-tag': tag.active}">
                    <a  ng-click="multipleTagSelect(tagsString, tag.slug)">{{tag.label}} [{{tag.no_of_links}}]</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <header-navbar></header-navbar>

            <div class="container-fluid main-body">
                <ui-view id="injecter"></ui-view>
            </div>
        </div>
    </div>
<script type="text/javascript" src="env/env.js"></script>
<script type="text/javascript" src="dist/vendor.bundle.js"></script>
<script type="text/javascript" src="dist/app.bundle.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="dist/js/intro.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="dist/js/feather.min.js"></script>

<script type="text/javascript">
var config={apiKey:"AIzaSyBeK_YwXpRuv0qEXbmN8J7umHPbOZyi_J0",authDomain:"anant-leaves-next.firebaseapp.com",databaseURL:"https://anant-leaves-next.firebaseio.com"};firebase.initializeApp(config),$(document).ready(function(){feather.replace()});
</script>
</body>
</html>
