<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="portalApp">

<head>
    <!-- source -->
    <source charset="utf-8">
    <title>Anant.co</title>
    <source name="author" content="Anant Corporation">
    <source name="description" content="Anant.Co - Dynamic Kono Page - Powered by Konotree">
    <source name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- icons -->

    <link rel="shortcut icon" href="ico/favicon.ico" />
    <!--
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57x57-precomposed.png" />
        -->
    <!-- stylesheets -->
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/v3.3.7/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/v3.3.7/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/v3/browse.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />-->
    <link rel="stylesheet" type="text/css" href="css/solr-ajax/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/solr-ajax/facp.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/json/anantco.css" media="screen" />

    <!-- scripts -->
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap/v3.3.7/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/ngfilters/angular-filter.js"></script>

    <!-- appCode -->
    <script type="text/javascript" src="js/app/portalApp.js"></script>

    <script type="text/javascript">
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-657559-14', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="browse-view" ng-controller="DocCtrl" ng-init="init('leaves.entries')">

    <header id="page-header">
        <div class="navbar navbar-default">
            <div class="navbar-inner" style="padding:0;">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!--<a class="brand-title" href="#">Anant</a>-->
                    <div class="nav-collapse collapse">

                        <div class="col-sm-3 pull-right">
                            <p class="navbar-text">
                                Logged in as <a href="#" class="navbar-link">Username</a>
                            </p>
                        </div>
                        <div class="search-bar col-sm-2">
                            <input type="text" class="search" ng-model="searchString" placeholder="Enter your search terms" autofocus />
                        </div>
                        <ul class="nav col-sm-7" ng-cloak>
                            <li class="filter-link" ng-click="CatFilter = null">All</li>
                            <li class="filter-link" ng-repeat="doc in documents | unique:'domain_name'" ng-click="GetCategory(doc.domain_name)">{{doc.domain_name}}</li>
                            <!--<li class="filter-link" ng-click="CatFilter = {category: 'PS'}">Products & Services</li>
                                <li class="filter-link" ng-click="CatFilter = {category: 'RD'}">Research & Development</li>
                                <li class="filter-link" ng-click="CatFilter = {category: 'SM'}">Sales & Marketing</li>
                                <li class="filter-link" ng-click="CatFilter = {category: 'OI'}">Operations & Infrastructure</li>
                                <li class="filter-link" ng-click="CatFilter = {category: 'FA'}">Finance & Accounting</li>
                                <li class="filter-link" ng-click="CatFilter = {category: 'LM'}">Leadership & Management</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="content">
        <div class="container-fluid">
            <!-- main row -->
            <div class="row-fluid">

                <!-- search results panel right-->
                <div id="search-results-doc-right" class="col-md-5 pull-right right" ng-cloak>
                    <div class="">

                        <article ng-repeat="doc in documents | filter: {domain_name: 'www.youtube.com'} | filter: CatFilter | searchFor:searchString" class="document row-fluid" ng-cloak>

                            <div class="article-img-container full col-xs-12 no-padding">
                                <a ng-href="{{doc.url}}" target="_blank" ng-if="doc.preview_picture">
                                    <img src="{{doc.preview_picture}}" />
                                </a>
                            </div>

                            <div class="category col-xs-12">
                                <span class="doc-category" ng-bind-html="doc.name | highlightWord : searchString"></span>
                            </div>

                            <div class="title col-xs-12">
                                <a ng-href="{{doc.path}}" target="_blank" ng-bind-html="doc.title | highlightWord : searchString"></a>
                            </div>

                            <div class="content col-xs-12">
                                <p class="doc-content" ng-bind-html="doc.content | highlightWord : searchString" ng-if="searchString"></p>
                            </div>

                            <div class="source inline">{{doc.domain_name}}</div>

                        </article>

                    </div>

                </div>
                <!-- /search results panel right -->

                <!-- search results panel center-->
                <div id="search-results-doc-center" class="col-md-4 pull-right center" ng-cloak>
                    <div class="">

                        <article ng-repeat="doc in documents | filter:CatFilter| searchFor:searchString" class="document row-fluid" ng-if="doc.domain_name!='github.com' && ( doc.domain_name!='youtube.com' || doc.domain_name!='slideshare.net')" ng-cloak>

                            <div class="article-img-container full col-xs-12 no-padding">
                                <a ng-href="{{doc.path}}" target="_blank" ng-if="doc.preview_picture">
                                    <img src="{{doc.preview_picture}}" />
                                </a>
                            </div>

                            <div class="title col-xs-12">
                                <a ng-href="{{doc.url}}" target="_blank" ng-bind-html="doc.title | highlightWord : searchString"></a>
                            </div>

                            <div class="content col-xs-12">
                                <p class="doc-content" ng-bind-html="doc.content | highlightWord : searchString" ng-if="searchString"></p>
                            </div>

                            <div class="source inline">{{doc.domain_name}}</div>

                        </article>

                    </div>

                </div>
                <!-- /search results panel center -->

                <!-- search results panel left-->
                <div id="search-results-doc-left" class="col-md-3 pull-right left" ng-cloak>
                    <div class="">

                        <article ng-repeat="doc in documents | filter: {domain_name: 'github.com'} | searchFor:searchString" class="document row-fluid" ng-cloak>

                            <div class="article-img-container thumb col-xs-3 no-padding">
                                <a ng-href="{{doc.url}}" target="_blank" ng-if="doc.preview_picture">
                                    <img src="{{doc.preview_picture}}" />
                                </a>
                            </div>


                            <div class="title col-xs-9">
                                <a ng-href="{{doc.url}}" target="_blank" ng-bind-html="doc.title | highlightWord : searchString"></a>
                            </div>

                            <div class="source inline">{{doc.domain_name}}</div>

                        </article>

                    </div>

                </div>
                <!-- /search results panel left -->

            </div>
            <!-- /main row -->
        </div>
        <!-- /container -->


        <!-- /container -->
    </section>

    <footer id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div>
                    Anant.Co , a project of
                    <a href="http://www.anant.us/">Anant</a>.
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->

</body>

</html>