<div class="reader-header" id="readerElement">
	<div class="dropdown">
		<div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div ng-repeat="list in leaves track by $index" class="title-tab" ng-if="list.active">({{$index+1}}/{{leaves.length}})- {{list.title}}</div>
			<div class="dropdown-arrow"><i class="fa fa-chevron-down"></i></div>
		</div>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item dropdown-leaves" ng-repeat="item in leaves" style="display: grid;grid-template-columns: auto 40px;">
				<div class="title" title={{item.title}} ng-click="changeReaderTab($index)">({{$index+1}})- {{item.title}}</div>
                <div class="close-tab" ng-click="removeTab($event, $index, item.id)">x</div>
			</a>
		</div>
	</div>
</div>
<div class="reader-content" ng-repeat="item in leaves" ng-if="item.active">
	<h2>{{item.title}}</h2>
    <small>{{item.domain_name}}</small>
    <ul>
        <li>
        	<i data-feather="user" width="16"></i> {{item.user_name}}
        </li>
        <li>
        	<i data-feather="calendar" width="16"></i>  
        	<span ng-bind="added_date(item.created_at)"></span>
        </li>
        <li>
        	<i data-feather="link" width="16"></i>  
        	<a ng-href="{{getExternalLink(item)}}" target="_blank">link</a>
        </li>
    </ul>
    <hr>
	<p ng-bind-html="deliberatelyTrustDangerousSnippet(item.content)" class="content"></p>
</div>