body { 
	padding-top: 70px;
	background-color: #eeeeee;
	font-family: 'Roboto', sans-serif;
}
.logo-title{
	margin-left: 20px
}
#menu-toggle i{
	font-size: 16px;
    color: #565454;
    padding: 7px 8.5px;
    border-radius: 50%;
}
#menu-toggle i:hover{
	background-color: rgba(158, 158, 158, 0.55);
}
.navbar-default{
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.leaves-navbar .input-group-addon{
	background-color: #fff;
	border-radius: 0;
}
.form-control{
	box-shadow: none;
	border-radius: 0;
}
.navbar-header{
	padding: 5px;
	font-size: 24px;
}
.list-group-item{
	border: none;
	background-color: #eeeeee;
}
.leave-grids{
    background-color: #fff;
    padding: 10px 20px 10px 10px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    margin-bottom: 10px
}
.inner-addon input{	
	border:none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.inner-addon input:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.list-group-item{
	cursor: pointer;
}
.list-group-item:first-child{
	border-radius: 0;
}
.list-group-item:hover{
    background-color: rgba(158, 158, 158, 0.36);
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .fa  { 
	left:  0px;
}
.right-addon .fa { 
	right: 0px;
}

/* add padding  */
.left-addon input  { 
	padding-left:  30px; 
}
.right-addon input { 
	padding-right: 30px; 
}

.modal-title img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
}