<!DOCTYPE html>
<html ng-app="leavesNext">
<head>
	<title>Leaves.lite Next</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Appleseed Leaves.Lite</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/side-navbar.css">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn|Montserrat" rel="stylesheet">
</head>
<body ng-controller="mainController" id="body">
<leaves-nav></leaves-nav>
<div id="wrapper">

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
	    <div id="sidebar-inner">
	    <div class="search_tag">
	    	<input type="text" ng-model="tag_name" placeholder="Search by tag" style="border-radius: 10%;border: 2px solid #eee;margin-left: 20px; padding: 6px">
	    </div>
	        <ul class="sidebar-nav">
	            <li ng-repeat="tag in tags.data | filter:tag_name"><a ui-sref="tags_leaves({tag_slug:tag.slug})">{{tag.label}}</a></li>
	        </ul>
	    </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
        <ui-view></ui-view>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
</html>
