<div class="row">
<div class="col-lg-5" id="viewDiv">
    <div ng-repeat="entry in entries" class="card_view" ng-if="card_view">
        <leaves-card data="entry"></leaves-card>
    </div>
    <ul class="list-group list-view">
    <div ng-repeat="entry in entries" ng-if="!card_view">
        <leaves-list data="entry"></leaves-list>
    </div>
    </ul>
    <div class="row" ng-if="loading_button">
        <div class="col-lg-10 text-center loading_button">              
            <button class="btn btn-primary" ng-click="loadMore()">{{loadingMessage ? 'Loading...' : 'Load More'}}</button>            
            <!-- <div class="loadingMessage" ng-if="loadingMessage"><p>Loading...</p></div> -->
        </div>
    </div>
</div>
<div class="col-lg-7" id="readerDiv">
    <div ui-view></div>
</div>
</div>
</div>
</div>