    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <span class="menu-bar" id="menu-toggle" ng-click="navCloseOpen()">
                <i class="fa fa-bars"></i>
            </span>
        <i class="fa fa-leaf"></i><span class="logo-title" ng-click="goToHome()">Leaves</span>
    </div>
    <div class="hidden-xs">
        <ul class="nav navbar-nav navbar-right">
            <li class="copy-and-share"><a ng-click="makeBitlyLink()"><span class="down-arrow-css"><i class="fa fa-share-alt"></i> Share branch</span></a>
                <div class="share-modal" id="shareModal">
                    <div class="share-model-inner">
                        <div class="share-modal-title">Share this resource link</div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-value="bitly_link" id="bitlyLink" placeholder="Share this Thread" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2" onClick="copyThisShortLink()" data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="fa fa-clipboard"></i></span>
                        </div>
                    </div>
                    <div id="showCopiedMsg" class="coiped-msg"></div>
                    <div class="share-modal-close" onClick="outerClickHide()">close</div>
                </div>
            </li>
            <!-- <li class="inboxButton"><a ng-click="inboxToReader(inboxArray)"><i class="fa fa-folder-open"></i> Reader <span>{{inboxLength}}</span></a></li> -->
            <li><a data-toggle="modal" ng-click="openLeafForm()" class="add-leaf">Add Leaf</a></li>
            <li ng-if="!userLoggedIn"><a data-toggle="modal" data-target="#doLogin" class="do-login"> Login</a></li>
            <li ng-if="userLoggedIn"><a ng-click="doLogout()" class="do-login"> Logout</a></li>
            
            <!-- <li><a ui-sref="profile">{{leavesTeamID}}</a></li> -->
        </ul>
    </div>
        <div style="float: right;">
            
        <ul style="position: relative;">
            <li class="mobile-dropdown">
                <i class="fa fa-bars" ng-click="mobileDropdownToggle()"></i>
                <ul ng-if="mobileDropdownBox">
                    <li><a data-toggle="modal" ng-click="openLeafForm()" class="add-leaf">Add Leaf</a></li>
                    <li ng-if="!userLoggedIn"><a data-toggle="modal" data-target="#doLogin" class="do-login"> Login</a></li>
                    <li ng-if="userLoggedIn"><a ng-click="doLogout()" class="do-login"> Logout</a></li>
                </ul>
            </li>
        </ul>
        </div>



<div class="modal fade bs-example-modal-lg" id="doLogin" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="z-index: 99999">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Login/Signup</h4>
            </div>
            <div class="modal-body">

                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Signup</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="google-login-btn" ng-click="googleLogin()">
                                <img src="./img/login-google.jpg">
                                <br>
                                OR
                                <br>
                            </div>
                            <form ng-submit="loginMe()">
                                <div class="form-group">
                                    <label for="loginEmail">Email address</label>
                                    <input type="email" class="form-control" ng-model="loginEmail" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" ng-model="loginPassword" id="loginPassword" placeholder="Password"required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login Now</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="google-login-btn" ng-click="googleLogin()">
                                <img src="./img/login-google.jpg">
                                <br>
                                OR
                                <br>
                            </div>
                            <form ng-submit="makeNewAccount()">
                                <div class="form-group">
                                    <label for="signupEmail">Email address</label>
                                    <input type="email" class="form-control" ng-model="email_address" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" ng-model="password" id="signupPassword" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirm Password</label>
                                    <input type="password" class="form-control" ng-model="confirm_password" id="signupConfirmPassword" placeholder="Password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Singup</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->