<!-- {{user | json}} -->
<div class="user-profile">
	<div class="row">
		<div class="col-md-1 text-center">
			<img src={{user.photoURL}} width="100px">
		</div>
		<div class="col-md-10">
			<h3>{{user.displayName}}</h3>
		</div>
	<hr>
		<div class="col-md-12">
			<h4>Your tags: {{0}}</h4>
			<!-- <select ng-model="selected_by_reference" ng-options="tag as tag.label for tag in tags"> -->
		</div>
		<div class="col-md-12 tags-list">
			<input type="text" ng-model="tag_name" placeholder="Search tag">
			<br>
			<br>
			<div class="row">
				<div class="col-md-2 tag" ng-repeat="tag in tags | filter:tag_name" ng-click="addTagToProfile(tag)">{{tag.label}}</div>
			</div>
		</div>
		<br>
		<br>
		<br>
	</div>
	<div class="row">
	</div>
</div>