<div class="reader-header">
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span  ng-repeat="list in leaves" ng-if="list.active">{{list.title}}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item dropdown-leaves" ng-repeat="item in leaves">
				<div class="title" title={{item.title}} ng-click="changeReaderTab($index)">{{item.title}}</div>
                <div class="close-tab" ng-click="removeTab($event, $index, item.id)">x</div>
			</a>
		</div>
	</div>
</div>
<div class="reader-content" ng-repeat="item in leaves" ng-if="item.active">
	<h2>{{item.title}}</h2>
    <small>{{item.domain_name}}</small>
    <ul>
        <li><i class="fa fa-user"></i> {{item.user_name}}</li>
        <li><i class="fa fa-calendar-alt"></i> <span ng-bind="added_date(item.created_at)"></span></li>
        <li><i class="fa fa-link"></i> <a ng-href="{{getExternalLink(item)}}" target="_blank">link</a></li>
    </ul>
	<p ng-bind-html="deliberatelyTrustDangerousSnippet(item.content)" class="content"></p>
</div>