<!--<ul ui-sortable="sortableOptions" ng-model="leaves">
    <li ng-repeat="item in leaves">{{ item.title }} </li>
</ul>-->
<div class="row single-content" ng-if="leaves" ng-if="readerView">
    <div class="col-md-12">
        <tabset class="tab-container" id="readerTabsCard">
            <tab ng-repeat="item in leaves" active="item.active">
                <tab-heading title="{{item.title}}">
                    <span>{{item.title}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeTab($event, $index, item.id)"></i>
                </tab-heading>
                <h1 class="leave-title">{{item.title}}</h1>
                <div class="entry-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> <span>{{item.user_name}}</span></li>
                        <li><a href="{{item.url}}" target="_blank"><i class="fa fa-external-link"></i> <span>link</span></a></li>
                    </ul>
                </div>
                <p ng-bind-html="item.content" class="content"></p>
            </tab>
        </tabset>

    </div>
</div>