<div class="row single-content" ng-if="leaves">
	<div class="col-md-12">
		<!-- <div>
			<span ng-class="(active_id == x.id)? 'nav-item active':'nav-item'" ng-repeat="x in leaves">
				<a ng-class="(active_id == x.id)? 'nav-link active':'nav-link'" data-toggle="tab" data-target="{{'#tab'+x.id}}" role="tab" data-toggle="tab">{{x.title}}</a>
			</span>
		</div> -->
		
		<!-- <ul class="nav nav-tabs" role="tablist">
			<li ng-class="(active_id == x.id)? 'nav-item active':'nav-item'" ng-repeat="x in leaves">
				<a class="nav-link active" data-toggle="tab" data-target="{{'#tab'+x.id}}" role="tab" data-toggle="tab"><div>{{x.title}}</div></a>
			</li>
		</ul>
		<div class="tab-content">
		  <div ng-class="(active_id == x.id)? 'tab-pane active':'tab-pane'" id="{{'tab'+x.id}}" role="tabpanel" ng-repeat="x in leaves">
			<h1 class="leave-title">{{x.title}}</h1>
			<hr>
			<p ng-bind-html="x.content" class="content"></p>
		  </div>
		</div>
 -->

 <tabset class="tab-container">
      <tab ng-repeat="x in leaves" active="x.active">
        <tab-heading title="{{x.title}}">
          <span>{{x.title}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeTab($event, $index, x.id)"></i>
        </tab-heading>
        <h1 class="leave-title">{{x.title}}</h1>
			<hr>
			<p ng-bind-html="x.content" class="content"></p>
      </tab>
    </tabset>








	</div>
</div>