<div class="row single-content" ng-if="leaves">
    <div class="col-md-12">
        <tabset class="tab-container">
            <tab ng-repeat="item in leaves" active="item.active">
                <tab-heading title="{{item.title}}">
                    <span>{{item.title}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeTab($event, $index, item.id)"></i>
                </tab-heading>
                <h1 class="leave-title">{{item.title}}</h1><br/>
                <ul class="nav nav-tabs" id="readerTabs">
                    <li class="active"><a href="#reader" data-toggle="tab">Reader</a></li>
                    <li><a href="#original" data-toggle="tab">View Original</a></li>
                </ul>
                <hr>
                <div class="tab-content">
                    <div class="tab-pane active" id="reader">
                        <p ng-bind-html="item.content" class="content"></p>
                    </div>
                    <div class="tab-pane" id="original" data-src="{{item.url}}">
                        <a href="{{item.url}}">View Original</a>
                        <iframe src="" width="500" height="203" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>