<div class="row">
	<div class="col-md-12 text-center">
		<span ng-if="loadingProfile" style="font-size: 1.5rem;">
			Loading profile...<br/>
			<i class="fas fa-circle-notch fa-lg fa-spin"></i>
		</span>
	</div>
</div>
<div class="profile-page" ng-if="!loadingProfile">
	<div class="row">

        <div class="col-md-12">
            
            <div class="user-profile-data">
                <div class="picture">
                    <img src={{user.user_photo}}>
                </div>
                <div class="user-details">
                    <h3>{{user.name}}</h3>
                    <div>You have subscribed for {{user.tags.length === undefined ? '0' : user.tags.length}} topics: <span ng-repeat="tag in user.tags"><u ui-sref="home({tag:tag.slug})">{{tag.label}}</u> {{$last ? '' : ', '}}</span> </div>
                    <!-- <div>Your tags: {{user.tags.length === undefined ? '0' : user.tags.length}}</div> -->
                    <div>email notification: <b>{{user.notification_type !== 'undefined' ? user.notification_type : 'weekly'}}</b></div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <br>
            <h5>How often would you like this email notification:</h5>
            <div class="radio" ng-init="notification_type=user.notification_type">
                <label>
                <input type="radio" ng-model="notification_type" value="daily" ng-change="selectNotificationType(notification_type)" name="optionsRadios" id="optionsRadios1" ng-checked="user.notification_type == 'daily' ? true : false">
                    Daily
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="notification_type" value="weekly" ng-change="selectNotificationType(notification_type)" name="optionsRadios" id="optionsRadios2" ng-checked="user.notification_type == 'weekly' ? true : false">
                    Weekly
                </label>
            </div>
            <h5>Select the topics you are interested<br/>to get an email notificationevery time a new item is added with that topic(s)</h5>
        </div>

        <div class="col-md-12">
            <div class="search-input-div text-center">
                <input type="search" ng-model="tag_name" ng-value="tag_name" placeholder="Search topics" style="min-width: 300px">
                <input type="button" name="submit" value="reset" ng-click="tag_name = ''">
            </div>
        </div>

        <div class="col-md-12 tags-list">
            <div ng-if="topic_add_msg">Topic Selected: {{event_on_tag}}</div>
            <div ng-if="topic_remove_msg">Topic Removed: {{event_on_tag}}</div>
            <div class="row" style="margin-bottom: 50px">
                <div ng-class="tag.selected ? 'col-md-2 tag selected' : 'col-md-2 tag'" ng-repeat="tag in tags | filter:tag_name">
                    <div class="tag-name" ng-click="!tag.selected && addTagToProfile(tag, tag.index_value)"><span>{{tag.label}}</span></div>
                    <div class="tab-remove" ng-if="tag.selected" ng-click="addTagToProfile(tag, tag.index_value)"><span>x</span></div>
                </div>
            </div>
        </div>
        
    </div>
</div>