.tab-container {
    margin: 0;
    padding: 0;
    max-height: 40px;
}

.tab-container ul.nav-tabs {
    list-style-type: none;
    line-height: 40px;
    max-height: 40px;
    overflow: hidden;
    display: inline-block;
    display: -webkit-flex;
    display: flex;
}

.tab-container ul.nav-tabs>li {
    height: 170px;
    position: relative;
    width: 200px;
    max-width: 200px;
    min-width: 20px;
}

.tab-container ul.nav-tabs>li>a span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.tab-container ul.nav-tabs>li>a .glyphicon-remove {
    color: #777;
    display: inline-block;
    padding: 3px;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.tab-container ul.nav-tabs>li>a .glyphicon-remove:hover {
    background: #d39ea3;
    color: white;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.tab-container ul.nav-tabs>li.active {
    z-index: 2;
}


/*
.tab-container .tab-pane {
  padding: 60px 40px;
}*/