.user-profile-data {
    margin-top: 20px;
}
.user-profile-data .picture img {
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}
.user-profile-data .picture, .user-profile-data .user-details{
    display: inline-block;
    vertical-align: middle;
}

.user-profile-data .user-details h3 {
    margin:0;
}

.profile-page {
    padding: 10px;
}

.profile-page .tags-list {
    padding: 40px;
}

.profile-page .tags-list .tag{
    border: 1px solid #333;
    padding: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 80% 20%;
}

.profile-page .tags-list .tag .tag-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-page .tags-list .tag .tab-remove span {
    float: right;
    padding: 0px 6px;
    background-color: #fff;
    border-radius: 50%;
    color: #010101;
}

.profile-page .tags-list .tag.selected {
    background-color: #777;
    color: #fff;
}