<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="solr-ajax">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>Appleseed Search : Search.Web.User : Documents</title>
    <meta name="author" content="Anant Corporation">
    <meta name="description" content="AJAX web interface to Appleseed Search">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- icons -->
    <!--
        <link rel="shortcut icon" href="ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57x57-precomposed.png" />
        -->
    <!-- stylesheets -->
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="css/solr-ajax/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/solr-ajax/facp.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/solr-ajax/hints.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="css/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="css/chosen/chosen-spinner.css" />

    <!-- scripts -->
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/d3js/d3.v3.min.js"></script>

    <!-- scripts - angular -->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>
    <!-- scripts - chosen -->
    <script type="text/javascript" src="js/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="js/chosen/angular-chosen.js"></script>
</head>

<body>

    <header id="page-header">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="padding:0;">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand-title" href="#">Appleseed Search</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="documents.html">Documents</a></li>
                            <li><a href="images.html">Images</a></li>
                            <li><a href="locations.html">Locations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="search-bar">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="search-box span5">

                    <form ng-controller="SearchBoxController" ng-submit="handleSubmit()" data-near-match="true" data-search-hints-field="" data-source="{{appleseedsSearchSolrProxy}}">
                        <input name="q" type="text" placeholder="Keyword or placename" ng-model="userquery" searchbox />
                        <input class="search-input" name="submit" type="submit" value="Search" ng-click="handleSubmit()" searchbutton />
                    </form>

                    <!--
                         <searchbox id="searchbox"
                           data-near-match="true"
                           data-placeholder="placeholder"
                           data-max-hints="3"
                           data-search-hints-field=""
                           data-search-hints-fields=""
                           data-source="{{appleseedsSearchSolrProxy}}"
                           ng-cloak>
                        </searchbox>
                        -->

                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="pagination span10" ng-hide="error" ng-controller="FieldAlphaFilterFacetController" data-field="glossary" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak>
                    <ul>
                        <li>
                            <a ng-click="clearFilter($event)" ng-class="{'iscurrent':activeLetter==''}">ALL</a>
                        </li>
                        <li ng-repeat="letter in alphabet track by $index">
                            <a ng-click="filterByLetter($event,letter)" ng-class="{'iscurrent':letter==activeLetter}">{{letter}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">


                <!-- search panel -->
                <div id="search-panel" class="span2 column-240 bs-docs-sidebar">

                    <div data-source="{{appleseedsSearchSolrProxy}}" ng-controller="FacetSelectionController">
                        <!-- facet selection controller -->
                        <ul class="facet-panel" ng-show="items.length>0" ng-cloak>
                            <li class="facet-heading">
                                <p>Filtering By</p>
                            </li>
                            <li>
                                <ul class="items unstyled">
                                    <li class="facet" ng-repeat="item in items">
                                        <i class="icon-tag"></i>
                                        <a ng-click="remove($index)">
                                            <span class="value">{{item | prettyFacetLabel | swapFacetLabels }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /facet selection controller -->
                        <ul class="facet-panel" ng-show="items.length==0">
                            <li class="facet-heading">
                                <p>No Filters Applied</p>
                            </li>
                        </ul>
                        <ul class="facet-panel refine-results refine-clear hidden-mobile hidden-tablet">
                            <li>
                                <span ng-controller="FacetClearSelectionController" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak>
                                        <a href='' ng-click="clearFilters()"> Clear All Filters</a>
                                    </span>
                            </li>
                        </ul>

                    </div>
                    <!-- chosen type facet controller -->
                    <!--<ul id="type-panel-chosen" class="facet-panel" ng-controller="FieldChosenFacetController" data-exclusive="true" data-field="tags" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak ng-show="items.length>=1">
                        <li class="facet-heading">
                            <p> Keyword (Chosen): {{items.length}}</p>
                        </li>
                        <li>
                            <select id="select-chosen-smartKeywords" multiple no-results-text="'None Found'" ng-options="item.value for item in items" ng-change="changedValue(chosenFacet)" ng-model="chosenFacet">
                                </select>
                        </li>
                    </ul>-->
                    <!-- /chosen type facet controller -->

                    <!-- chosen type facet controller -->
                    <!--<ul id="type-panel-chosen-domain" class="facet-panel" ng-controller="FieldChosenFacetController" data-exclusive="true" data-field="url" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak ng-show="items.length>=1">
                        <li class="facet-heading">
                            <p> Source (Chosen): {{items.length}}</p>
                        </li>
                        <li>
                            <select id="select-chosen-source" multiple no-results-text="'None Found'" ng-options="item.value for item in items" ng-change="changedValue(chosenFacet)" ng-model="chosenFacet">
                                </select>
                        </li>
                    </ul>-->
                    <!-- /chosen type facet controller -->

                    <!-- source facet controller -->
                    <ul id="source-panel" class="facet-panel" ng-controller="FieldFacetController" ng-hide="selected" data-exclusive="true" data-field="domain_name" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak>
                        <li class="facet-heading">
                            <p>Source</p>
                        </li>
                        <li>
                            <ul class="facets unstyled">
                                <li ng-repeat="item in items" ng-show="items">
                                    <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value | cleanFacetLabel }}</a></span>
                                    <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /source facet controller -->

                    <!-- source facet controller -->
                    <ul id="tags-panel" class="facet-panel" ng-controller="FieldFacetController" ng-hide="selected" data-exclusive="true" data-field="tags" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak>
                        <li class="facet-heading">
                            <p>Tags</p>
                        </li>
                        <li>
                            <ul class="facets unstyled">
                                <li ng-repeat="item in items" ng-show="items">
                                    <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value | cleanFacetLabel }}</a></span>
                                    <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /source facet controller -->


                    <!-- published date facet controller -->
                    <!--<ul id="published-panel" class="facet-panel"
                            ng-controller="DateFacetController"
                            ng-hide="selected && exclusive"
                            data-exclusive="false"
                            data-field="createdDate"
                            data-source="{{appleseedsSearchSolrProxy}}"
                            ng-cloak>
                            <li class="facet-heading"><p>Published</p></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value | cleanFacetLabel  }}</a></span>
                                        <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                    <!-- /published date facet controller -->

                    <!-- published date range facet controller -->
                    <!--
                        <ul id="published-range-panel" class="facet-panel"
                            ng-controller="DateRangeFacetController"
                            ng-hide="selected && exclusive"
                            data-exclusive="true"
                            data-field="createdDate"
                            data-source="{{appleseedsSearchSolrProxy}}"
                            ng-cloak>
                            <li class="facet-heading"><p>Published (Range)</p></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value | cleanFacetLabel}}</a></span>
                                        <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                    <!-- /published date range facet controller -->
                    <!-- date range facet controller -->
                    <ul id="date-range-panel" class="facet-panel" ng-controller="DateFacetController" data-start-date-field="createdDate" data-end-date-field="createdDate" data-source="{{appleseedsSearchSolrProxy}}" ng-cloak>
                        <li class="facet-heading">
                            <p>Dates</p>
                        </li>
                        <li>
                            <div id="date-histogram" ng-controller="DateFacetHistogramController">

                            </div>

                            <form class="form-horizontal" ng-submit="submit()" style="margin-bottom:0px;">
                                <div id="date-range-histogram"></div>
                                <table class="table-horizontal">
                                    <tr>
                                        <td style="font-size:small">
                                            <div class="input-prepend">
                                                <span class="add-on">From</span>
                                                <input id="fromDate" name="startDate" class="year-input" type="text" ng-model="startDate" size="4" />
                                            </div>
                                        </td>
                                        <td class="pull-right" style="font-size:small;align:right">
                                            <div class="input-prepend pull-right">
                                                <span class="add-on">To</span>
                                                <input id="toDate" name="endDate" class="year-input" type="text" ng-model="endDate" size="4" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button style="position: absolute; left: -9999px; width: 1px; height: 1px;">Update</button>
                            </form>
                        </li>
                    </ul>
                    <!-- /date range facet controller -->

                    <!-- search history panel -->
                    <!--
                        <ul id="search-history-panel"
                            class="facet-panel" ng-controller="SearchHistoryController" ng-cloak>
                            <li class="facet-heading"><p>Search History</p></li>
                            <li>
                                <ul class="unstyled">
                                    <li ng-repeat="query in queries">
                                        <a ng-href="{{query.getUrl()}}">{{query.getUserQuery()}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        -->
                    <!-- /search history panel -->

                </div>
                <!-- /search panel -->

                <!-- search results -->
                <div id="search-results" class="span5" ng-controller="DocumentSearchResultsController" data-fields="*" data-source="{{appleseedsSearchSolrProxy}}" documents-per-page="25" ng-cloak>

                    <div class="column-512">
                        <h2 class="summary"><span count-to="{{totalResults}}" duration="1" count-from="1"></span> Results</h2>
                        <div class="loading" ng-show="loading" ng-cloak>
                            <p>Loading search results ...</p>
                            <img src="img/ajax-loader-bar.gif" alt="Loading search results" />
                        </div>

                        <div class="summary" ng-show="documents.length > 0" ng-controller="SearchHistoryController" ng-cloak>
                            <div class="results-bar">
                                <span>Search Results </span>
                                <span class="bold" ng-repeat="page in pagesOnly" ng-show="page.isCurrent">{{(page.name * documentsPerPage)-(documentsPerPage-1)}}</span>
                                <span class="bold">-</span>
                                <span class="bold" ng-repeat="page in pagesOnly" ng-show="page.isCurrent"> {{(page.name *documentsPerPage)<(totalResults)?(page.name * documentsPerPage):(totalResults)}} </span>
                                <span>of </span>
                                <span class="bold">{{totalResults}} </span>
                                <span>found for </span>
                                <span class="bold latest-query" ng-repeat="query in queries" ng-show="$first">{{query.getUserQuery()}}</span>
                            </div>
                            <div class="alert alert-error" ng-show="error">{{error}}</div>
                            <div class="alert alert-info" ng-show="message">{{message}}</div>
                        </div>

                        <div class="no-results-message" ng-show="userquery &&!loading && documents.length == 0" ng-cloak>
                            <h4>No results were found.</h4>
                        </div>

                        <div class="pagination" ng-hide="error || userquery &&!loading && documents.length == 0" ng-cloak>
                            <ul ng-show="totalResults > documentsPerPage">
                                <li ng-repeat="page in pages">
                                    <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="pagination" ng-hide="error">
                            <ul>
                                <li>
                                    <a ng-click="initialSearch('asc')">Alpha (A-Z)</a>
                                </li>
                                <li>
                                    <a ng-click="initialSearch('desc')">Alpha (Z-A)</a>
                                </li>
                                <li>
                                    <a ng-click="relevantSearch()">Relevance</a>
                                </li>
                            </ul>
                        </div>

                        <article ng-repeat="doc in documents" class="document" ng-cloak>

                            <div ng-show="doc.is_public" class="meta inline">
                                <div ng-switch="doc.source[0]">
                                    <div ng-switch-when="Featured" class="region" style="background-color:#660000;color:#fff;">Featured</div>
                                    <div ng-switch-default></div>
                                </div>

                            </div>
                            <a ng-href="{{doc.path[0]}}" class="title">{{doc.title[0]}}</a>
                            <div class="thumb" ng-show="doc.preview_picture[0]" style="margin-left:10px;">
                                <a ng-href="{{doc.name}}" class="thumbnail">
                                    <img ng-src="{{doc.preview_picture[0]}}" alt="{{doc.title[0]}}" height="64px" width="64px" />
                                </a>
                            </div>
                            <div class="text">
                                <div class="text" ng-repeat="contentitem in doc.content">{{contentitem | truncate:250}}</div>
                            </div>
                            <div class="meta inline">
                                <span class="region doc-type" ng-show="doc.type">{{doc.type[0]}}</span>
                                <span class="region doc-source" ng-show="doc.domain_name">{{doc.domain_name[0]}}</span>
                                <div class="existdates">
                                    <span class="edate date1">Created: {{doc.created_at | date:'MM/dd/yyyy'}}</span>
                                    <span ng-show="doc.toDate">&ndash;</span>
                                    <span class="edate date2">{{doc.toDate[0] | date:'MM/dd/yyyy'}}</span>

                        </article>

                        <!--
                            <div class="pagination" ng-hide="error || userquery &&!loading && documents.length == 0" ng-show="scrollInfinite" ng-cloak>
                                <ul ng-show="totalResults > documentsPerPage">
                                    <li>
                                        <a ng-click="loadMoreResults(scrollPageIncrement)">Load {{scrollPageIncrement}} more of {{totalResults-documentsPerPage}} Results</a>
                                    </li>
                                </ul>
                            </div>
                            -->

                        <div class="loading" ng-show="scrollLoading && scrollInfinite" ng-cloak>
                            <p>Loading more search results ...</p>
                            <img src="img/ajax-loader-bar.gif" alt="Loading more search results" />
                        </div>

                        <div class="pagination" ng-hide="error || userquery &&!loading && documents.length == 0" ng-cloak>
                            <ul ng-show="totalResults > documentsPerPage">
                                <li ng-repeat="page in pages">
                                    <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <!-- /search results -->

                        <!-- display results on map -->
                        <div class="locations-links">
                            <a href="locations.html"><img src="img/map-results-32.png" class="thumbnail"></a>
                            <span class="locations-text-link">
                                <a href="locations.html">Show search results on map</a>
                            </span>
                        </div>
                        <!-- /display results on map -->

                        </div>
                        <!-- /search results panel -->

                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
    </section>

    <footer id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div>
                    Appleseed Search Web User Angular, a project of
                    <a href="http://www.anant.us/">Anant</a>.
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="js/solr-ajax/controllers/DateFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DateFacetHistogramController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DateRangeFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DocumentSearchHighlightMLTResultsController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DocumentSearchResultsController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DocumentSearchFeaturedResultController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FacetClearSelectionController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FacetSelectionController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FieldFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FieldChosenFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FieldCheckboxFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FieldAlphaFilterFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/SearchBoxController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/SearchHistoryController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/directives/autocomplete.js"></script>
    <script type="text/javascript" src="js/solr-ajax/directives/searchbox.js"></script>
    <script type="text/javascript" src="js/solr-ajax/directives/count-to.js"></script>
    <script type="text/javascript" src="js/solr-ajax/filters/textfilters.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/selection.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/solr.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/utils.js"></script>
    <script type="text/javascript" src="js/solr-ajax/app/document.js"></script>

</body>

</html>