<div style="width: 100%;padding: 20px">
	<form>
	<div class="form-group">
		<textarea class="form-control" ng-model="url" ng-change="getLinkPreview(url)" rows="3"></textarea>
	</div>
	<img src="img/loading.gif" width="20px" ng-show="preview">
	<div ng-show="!preview">
		<img ng-src="{{result.favicon}}" width="25px"> {{result.hostname}}<br/>
		<a href="{{result.url}}">{{result.url}}</a>
		<div class="row">
			<div ng-class="result.type == 'video' ? 'col-md-12' : ( result.img_loc == 1 ? 'col-md-12' : 'col-md-4' )">
				<div ng-if="result.video_url">
					<iframe id="video" width="100%" height="315" ng-src="{{embed_url}}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div ng-if="!result.video_url">
					<img ng-src="{{result.image}}" style="width: 100%">
				</div>
			</div>
			<div ng-class="{'col-md-12': result.img_loc == 1, 'col-md-8':result.img_loc == 0}">
				<h4>{{result.title}}</h4>
				<p>{{result.description}}</p>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-default">Post</button>
</form>
</div>