<nav class="navbar navbar-default navbar-fixed-top leaves-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
             <span class="menu-bar" id="menu-toggle" ng-click="navCloseOpen()"><i class="fa fa-bars"></i></span> <span class="logo-title" ui-sref="home">Leaves</span>
        </div>
        <div class="hidden-xs">
        <form class="navbar-form navbar-left" role="search" style="width:50%">
            <div class="inner-addon left-addon" style="width:100%">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Enter your search terms" style="width:100%" />
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#addLeaf"><i class="fa fa-plus-circle"></i> Add Leaf</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>


<div class="modal fade bs-example-modal-lg" id="addLeaf" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form name="addUrlForm">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Add New Leaf</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addUrl">Add URL to this leaves</label>
                    <input type="url" class="form-control" name="leavesurl" ng-model="leavesurl" placeholder="Enter URl" required>
                </div>
                {{error.data.error.message}}
                <!-- <span ng-if="!addUrlForm.leavesurl.$valid">Enter Valid URL</span> -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="save_it(leavesurl)">Save it</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->