<!-- <div id="mySidenav" class="sidenav">
<a class="closebtn" ng-click="close()"><i class="fa fa-step-backward"></i> Back</a>
<div class="container single-content">
	<div class="row">
		<div class="col-md-12">
			<h1 class="leave-title">{{leaves.title}}</h1>
			<hr>
			<p ng-bind-html="leaves.content"></p>
		</div>
	</div>
</div>
</div> -->
<div class="row single-content">
		<div class="col-md-12">
			<h1 class="leave-title">{{leaves.title}}</h1>
			<hr>
			<p ng-bind-html="leaves.content"></p>
		</div>
	</div>