<div class="row">
<div class="col-lg-12">
    <div class="row" infinite-scroll="loadMore()" infinite-scroll-disabled="disable_scroll" infinite-scroll-distance='0' infinite-scroll-use-document-bottom="true">                       
        <div ng-repeat="entry in entries">
            <tags-card data="entry"></tags-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">                            
            <div class="loadingMessage" ng-if="loadingMessage"><p>Loading...</p></div>
        </div>
    </div>
</div>
</div>
<div ui-view></div>