<!DOCTYPE html>
<html ng-app="leavesNext">

<head>
    <title>Leaves.Lite App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Appleseed Leaves.Lite</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-tab-scroll/angular-ui-tab-scroll.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/chrome-tabs.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn|Montserrat" rel="stylesheet">
    <!-- <base href="/"> -->
</head>

<body ng-controller="mainController" id="body">
    <leaves-nav></leaves-nav>
    <div class="container-fluid">
        <div class="main">
            <div class="side-nav" id="sideNav">
                <div class="side-tag-navbar">
                    <input type="text" ng-model="tag_name" placeholder="Search by tag">
                    <ul class="sidebar-nav">
                        <li ng-repeat="tag in tags | filter:tag_name" ui-sref="home({tag:tag.slug})">{{tag.label}}</li>
                    </ul>
                </div>
            </div>
            <div class="card-section content-area" id="cardSection">
                <ui-view id="injecter"></ui-view>
            </div>
        </div>
    </div>
    <div id="contentInIframe" class="second-layer">
        <center><button class="minimizeButton" type="submit" onclick="closeIframe()" title="minimize"><i class="fa fa-close"></i></button></center>
        <div id="originalContent"></div>
    </div>
</body>
<script type="text/javascript" src="../js/vendor.bundle.js"></script>
<script type="text/javascript" src="../js/app.bundle.js"></script>
<!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script> -->

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>-->
<!-- <script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-sortable/sortable.js"></script>
<script type="text/javascript" src="js/angular-ui-tab-scroll.js"></script> -->
<!-- <script type="text/javascript" src="bower_components/angular-ui-tab-scroll/angular-ui-tab-scroll.js"></script> -->

<!-- <script type="text/javascript" src="js/app.bundle.js"></script> -->
<script>
    $(function() {
        $('#myTab a:last').tab('show')
    })

    function closeIframe() {
        document.getElementById("contentInIframe").style.height = "0%";
        document.body.style.overflow = 'scroll';
        document.getElementById("originalContent").innerHTML = ''
    }
</script>

</html>
